* {
    box-sizing: border-box;
}

.invisible {
    opacity: 0;
}

.col-center {
    float: none;
    margin: 0 auto;
    display: block;
}

#phrase {
    font-size: 50px;
    height: 100px;
}

#image {
    display: block;
    width: 445px;
    margin: auto;
}
